body{
    background: rgba(25, 28, 25, 1);
}

.banner{
    background: url("../assets/images/article_images/bomb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner::after{
    content: "ATOMIC WARFARE";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background: #2825259e;
    color: white;
    font-size: 5rem;
    display: grid;
    place-content: center;
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    .banner::after{
        font-size: 3rem;
    }
}

@media screen and (max-width: 478px) {
    .banner::after{
        font-size: 2rem;
    }
}

@media screen and (max-width: 318px) {
    .banner::after{
        font-size: 1rem;
    }
}